.ToDoList {
    padding: 0;
}

.ToDoListContainer {
    width: 60%;
    display: flex;
    margin: 10px auto;
    border-radius: 8px;
}

.Text {
    font-size: 18px;
    flex-grow: 1;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.DeleteButton {
    margin-left: 12px;
    padding: 10px 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.DeleteButton:hover {
    background-color: red;
    color: white;
}

.Completed {
    text-decoration: line-through;
    opacity: 0.6;
    cursor: pointer;
}