.ToDoList {
    padding: 0;
}

.ToDoListContainer {
    width: 45%;
    display: flex;
    margin: 12px auto;
    border-radius: 8px;
}

.Text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 16px;
    flex-grow: 1;
    padding: 14px 10px;
    border: 2px solid #6e6e6e;
    border-radius: 8px;
    cursor: pointer;
    background: inherit;
    backdrop-filter: blur(5px);
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TaskText {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TaskText.Completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.EyeIcon {
    cursor: pointer;
    opacity: 0.7;
    font-size: 16px;
}

.EyeIcon:hover {
    opacity: 1;
}

.DeleteButton {
    margin-left: 12px;
    padding: 14px 4px;
    border: 2px solid #6e6e6e;
    background: inherit;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.DeleteButton:hover {
    background-color: #e53935;
    color: white;
}

.Completed {
    text-decoration: line-through;
    opacity: 0.6;
    cursor: pointer;
}

.DragHandle {
    cursor: grab;
    user-select: none;
    margin: 0;
    padding: 0 10px;
    user-select: none;
    opacity: 0.6;
    font-size: 14px;
    align-content: center;
}

.DragHandle:hover {
    opacity: 1;
}

.DragHandle:active {
    cursor: grabbing;
}

.EyeIcon {
    margin-left: auto;      /* Push it to the right end of the Text span */
    cursor: pointer;
    opacity: 0.7;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.EyeIcon:hover {
    opacity: 1;
}