.ToDoList {
    padding: 0;
}

.ToDoListContainer {
    width: 45%;
    display: flex;
    margin: 14px auto;
    border-radius: 8px;
}

.Text {
    display: flex;
    align-items: center;
    gap: 1px;
    font-size: 16px;
    flex-grow: 1;
    padding: 14px 10px;
    border: 2px solid #6e6e6e;
    border-radius: 8px;
    cursor: pointer;
    background: inherit;
    backdrop-filter: blur(5px);
}

.DeleteButton {
    margin-left: 12px;
    padding: 14px 4px;
    border: 2px solid #6e6e6e;
    background: inherit;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.DeleteButton:hover {
    background-color: #e53935;
    color: white;
}

.Completed {
    text-decoration: line-through;
    opacity: 0.6;
    cursor: pointer;
}

.DragHandle {
    cursor: grab;
    user-select: none;
    padding: 0 10px;
    font-size: 18px;
    user-select: none;
    opacity: 0.6;
    font-size: 16px;
}

.DragHandle:hover {
    opacity: 1;
}

.DragHandle:active {
    cursor: grabbing;
}