.TextInputContainer {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.ToDoList-InputTextBox {
    padding: 0 12px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.ToDoList-InputTextBox:focus {
    outline: none;
}

.ToDoList-SubmitButton {
    margin-left: 12px;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.ToDoList-SubmitButton:hover {
    background-color: #4caf50;
    color: white;
}

.ToDoList-SubmitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #000;
}