.TextInputContainer {
    display: flex;
    justify-content: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.ToDoList-InputTextBox {
    padding: 0 12px;
    width: 100%;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    color: #ffffff;
}

.ToDoList-InputTextBox::placeholder {
    color: rgb(228, 228, 228);
}

.ToDoList-InputTextBox:focus {
    outline: none;
}

.ToDoList-SubmitButton {
    margin-left: 12px;
    padding: 14px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.ToDoList-SubmitButton:hover {
    background-color: #4caf50;
    color: white;
}

.ToDoList-SubmitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #000;
}